.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}
.App-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #4f4f4f;
}

.component-label {
  display: block;
  margin: 1.5rem 0 0.5rem;
  font-family: "Ubuntu Mono", monospace;
  color: #828282;
}
